Ml workbook

In [7]:
import pandas as pd
data=pd.read_csv("data.csv")
data

In [8]:
data.describe()

               x1          x2           y
count  100.000000  100.000000  100.000000
mean     0.520591    0.519660    0.500000
std      0.216743    0.234301    0.502519
min      0.008449   -0.063669    0.000000
25%      0.334825    0.343457    0.000000
50%      0.528265    0.556385    0.500000
75%      0.693588    0.710245    1.000000
max      1.000000    1.000000    1.000000