Ml workbook

In [1]:
import pandas as pd
data=pd.read_csv("data.csv")
data

         x1        x2  y
0   0.78051 -0.063669  0
1   0.28774  0.291390  0
2   0.40714  0.178780  0
3   0.29230  0.421700  0
4   0.50922  0.352560  0
..      ...       ... ..
95  0.77029  0.701400  1
96  0.73156  0.717820  1
97  0.44556  0.579910  1
98  0.85275  0.859870  1
99  0.51912  0.623590  1

[100 rows x 3 columns]

In [2]:
data.describe()

               x1          x2           y
count  100.000000  100.000000  100.000000
mean     0.520591    0.519660    0.500000
std      0.216743    0.234301    0.502519
min      0.008449   -0.063669    0.000000
25%      0.334825    0.343457    0.000000
50%      0.528265    0.556385    0.500000
75%      0.693588    0.710245    1.000000
max      1.000000    1.000000    1.000000

In [3]:
dfs=data[['x1','x2']]

In [4]:
import numpy
marray=numpy.array(dfs)

In [5]:
y = numpy.array(data['y'])

In [6]:
print(y)
print(data['y'])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
0     0
1     0
2     0
3     0
4     0
     ..
95    1
96    1
97    1
98    1
99    1
Name: y, Length: 100, dtype: int64

In [7]:
X=dfs

In [8]:
X

         x1        x2
0   0.78051 -0.063669
1   0.28774  0.291390
2   0.40714  0.178780
3   0.29230  0.421700
4   0.50922  0.352560
..      ...       ...
95  0.77029  0.701400
96  0.73156  0.717820
97  0.44556  0.579910
98  0.85275  0.859870
99  0.51912  0.623590

[100 rows x 2 columns]





 <h1 style="color:blue;">LOGISTIC REGRESSION</h1>

In [9]:
# import statements for the classification algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

# Logistic Regression Classifier
classifier = LogisticRegression()
classifier.fit(X,y)

# Decision Tree Classifier
classifier = DecisionTreeClassifier()
classifier.fit(X,y)

# Support Vector Machine Classifier
classifier = SVC()
k=classifier.fit(X,y)

In [10]:
k

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)